In [ ]:
Some of the datatypes are:
    1. Numbers
        . Integers
        . Float
        . Complex
    2. Strings
    3. Tuples
    4. List
    5. Dictionary
    6. Set

In [1]:
a=10
x=-5
b=10.5
c=1+2j
print(type(a),type(x),type(b),type(c))

<class 'int'> <class 'int'> <class 'float'> <class 'complex'>

In [ ]:
Strings:
    Any character or alphabets/numbers/special characters

In [3]:
xyz = "my name is Kashish"
print(type(xyz))

<class 'str'>

In [4]:
d = "10"
print(type(d))

<class 'str'>

In [ ]:
Tuple - ()

In [6]:
f = (1,3,7,10)
type(f)

tuple

In [ ]:
list = []

In [13]:
f = [10, 30, 10, 40, 70, 40]
print(f)
type(f)

[10, 30, 10, 40, 70, 40]

list

In [ ]:
Dictionaries = {}

In [11]:
ab = {"car" : "This is a vehicle", "system": "abc", "cb" : 10}
type(ab)
print(ab)

{'car': 'This is a vehicle', 'system': 'abc', 'cb': 10}

In [ ]:
sets = {}

In [12]:
d = {10, 30, 10, 40, 70, 40}
print(d)
print(type(d))

{40, 70, 10, 30}
<class 'set'>

In [16]:
a = (10, "kashish")
print(a,type(a))

(10, 'kashish') <class 'tuple'>

# Mutable and Immutable

In [ ]:
a=20
b="Kashish Gakkar"

Mutable:
    Lists
    Dictionaries
    Sets
    
Immutable: 
    Numbers
    Strings
    Tuple

In [17]:
a=[10, 20, 40, 50, 40, 70]
print(a)

[10, 20, 40, 50, 40, 70]

# Slicing, Dicing and Indexing

In [18]:
a=[10, 20, 40, 50, 40, 70]
a[1]

20

In [20]:
a[1] = 30
a

[10, 30, 40, 50, 40, 70]

In [29]:
a = a[2:6]
a

[]

In [25]:
a[2:5+1]

[40, 50, 40, 70]

In [26]:
a[0:]

[10, 30, 40, 50, 40, 70]

In [32]:
a=[10, 20, 40, 50, 40, 70]
a

[10, 20, 40, 50, 40, 70]

In [34]:
b = a[2:6]
b

[40, 50, 40, 70]

In [38]:
a[:]

[10, 20, 40, 50, 40, 70]

In [37]:
b[:]

[40, 50, 40, 70]

In [50]:
a[:+1]

[10, 20, 40, 50, 40, 70]

In [55]:
a[-3:-1]

[50, 40]

In [54]:
a[-3:-5]

[]

In [63]:
a[4:2:-1]

[40, 50]

In [66]:
a[-3::1]

[50, 40, 70]

In [68]:
b = (10, 20, 40, 50, 40, 70)
print(type(b))
b

<class 'tuple'>

(10, 20, 40, 50, 40, 70)

In [70]:
b[1] = 40

TypeError: 'tuple' object does not support item assignment

In [75]:
a = "Kashish"
a[1:5]

'ashi'

In [80]:
c = {10 : "XYZ", "g" : "This is an alphabet"}
print(c)
type(c)

{10: 'XYZ', 'g': 'This is an alphabet'}

dict

In [88]:
c['g'] = "This is not an alpha"
c

{10: 'XYZ', 'g': 'This is not an alpha'}

# String Formatting (Double quotes and single quotes)

In [92]:
a = "I don't under'stand python"
a

"I don't under'stand python"

In [93]:
a = 'I dont under'stand python

SyntaxError: invalid syntax (<ipython-input-93-4bd1aa54e98a>, line 1)