<h1>String Formatting</h1>

In [3]:
name = "Kashish"
course = "I don't like python"
print(name,course)

Kashish I don't like python

In [6]:
course = 'I don\'t like python'
print(course)

I don't like python

In [20]:
name = "Kashish"
age = 26
salary = 100000230.4066666
print(name, age)

Kashish 26

In [22]:
print(f"My age is {age} and my name is {name}")
print(f"My salary is {salary: 6.3f}")

My age is 26 and my name is Kashish
My salary is  100000230.407

In [23]:
print("my name is {name} and age is {age}".format(name = "name", age = "age"))

my name is name and age is age

<h1>Numbers</h1>

In [ ]:
+ - * / // %

In [25]:
a=23
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

33
13
230
2.3
2
3

<h1>Ifelse conditions</h1>

In [29]:
salary=1000
if salary == 1000:
    print("You are doing good")

You are doing good

In [ ]:
single = is used to assign a value to a variable
double == is to check the condition that is passed

In [32]:
salary=1100
if salary == 1000:
    print("You are doing good")
elif salary < 1000:
    print("You have to work hard")
else:
    print("you are great")

you are great

In [35]:
salary=900
if salary == 1000:
    print("You are doing good")
elif salary < 1000:
    print("You have to work hard")
elif salary > 1000:
    print("you are great")

You have to work hard

In [37]:
salary=900
if salary == 1000:
    designation = "Manager"
elif salary < 1000:
    designation = "Executive"
elif salary > 1000:
    designation = "Sr. Manager"

print(f"Your designation is {designation}")

Your designation is Sr. Manager

In [41]:
salary = int(input("Please enter your salary to see your designation"))

if salary == 1000:
    designation = "Manager"
elif salary < 1000:
    designation = "Executive"
elif salary > 1000:
    designation = "Sr. Manager"

print(f"Your designation is {designation}")

Please enter your salary to see your designation1000
Your designation is Manager

In [42]:
salary = int(input("Please enter your salary to see your designation"))

if salary == 1000:
    designation = "Manager"
    annual_ctc = salary * 12
elif salary < 1000:
    designation = "Executive"
    annual_ctc = salary * 12

print(f"Your designation is {designation} and your annual CTC is {annual_ctc}")

Please enter your salary to see your designation700
Your designation is Executive and your annual CTC is 8400

In [46]:
magic_number = 7
num = int(input("Enter your number"))

if magic_number == num:
    print("YOU WIN")
elif magic_number > num:
    print("You failed as magic_number is bigger")
else:
    print("You failed as magic_number is smaller")

Enter your number3
You failed as magic_number is bigger

In [52]:
name, salary, city = input("Enter your name, salary and city").split(",")
if int(salary) > 10000 and city in ("Delhi","Noida","Hyderabad"):
    print(f"Your salary is good: {salary} and your city is listed on our directory: {city}")
    new_salary = int(salary) * 12
else:
    print("Please try again")

Enter your name, salary and cityKashish,12000,Noida
Your salary is good: 12000 and your city is listed on our directory: Noida

In [53]:
new_salary

144000

<h1>Operators</h1>

In [ ]:
Arithmetic Operators:
+
-
*
/
//
%
**

In [ ]:
Logical Operators:
not
and
or

In [ ]:
comparison operators:
==
!=
<
>
<=
>=

In [ ]:
Identity Operators:
is
is not

In [ ]:
Membership Operators:
in
not in

In [ ]:
Bitwise Operators:
<<
>>
&
!
^

In [61]:
a="Kashish"
b=10
print(a*5)

KashishKashishKashishKashishKashish